<nav>
  <ul class="cuadro nav justify-content-center"> 
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" routerLink="inicio">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" routerLink="tendecias">Tendecias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" routerLink="api">Api</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" routerLink="pokeapi">PokéApi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" routerLink="contacto">Contacto</a>
  </li>
</ul>
</nav>
