.cuadro {
  background-color: #090f1d;
}

.fundamentos {
  margin-left: -1100px;
  color: aliceblue;

  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
