  <section class="titulo-contacto">
        <p class="titulonuestros">Nuestros desarrolladores</p>
        <p class="subtitulonuestros">
          Un grupo de creativos, desarrolladores y estrategas <br />apasionados,
          trabajando en conjunto para llevar tu negocio <br />
          al siguiente nivel con innovación y dedicación.
        </p>
      </section>
<section>
        <div class="uno">
          <img class="imguno" src="manuela a.png" alt="manuela" />
          <p class="compañerouno">Manuela Álvarezo</p>
          <a
            class="Linkperfiluno"
            href=" https://github.com/Amarilla-ss"
            target="_blank"
            >GitHub</a
          >
          <p class="desarrollouno">Full Stack</p>
        </div>

        <div class="dos">
          <img class="imgdos" src="vale restan.png" alt="vale" />
          <p class="compañerodos">Valentina Restan</p>
          <a
            class="Linkperfildos"
            href="https://github.com/Valerestan"
            target="_blank"
            >GitHub</a
          >
          <p class="desarrollodos">Full Stack</p>
        </div>

        <div class="tres">
          <img class="imgtres" src="sergio novoa.png" alt="sergio" />
          <p class="compañerotres">Sergio novoa</p>
          <a
            class="Linkperfiltres"
            href="https://github.com/snovoa6669"
            target="_blank"
            >GitHub</a
          >
          <p class="desarrollotres">Full Stack</p>
        </div>

        <div class="cuatro">
          <img class="imgcuatro" src="alex restrepo.png" alt="alex" />
          <p class="compañerocuatro">Alexandra Restrepo</p>
          <a
            class="Linkperfilcuatro"
            href="https://github.com/Alexa921"
            target="_blank"
            >GitHub</a
          >
          <p class="desarrollocuatro">Full Stack</p>
        </div>

        
        <div class="sinco">
        <img class="imgsinco" src="javier sanabriua.png" alt="javier">
        <p class="compañerosinco">Javier Sanabria</p>
        <a class="Linkperfilsinco" href="https://github.com/jsanabria202"target="_blank">GitHub</a>
        <p class="desarrollosinco">Full Stack</p>
        </div>


        <div class="seis">
        <img class="imgseis" src="jose aguirre.jpg" alt="jose">
        <p class="compañeroseis">Juan Jose Aguirre</p>
        <a class="Linkperfilseis" href="https://github.com/juanito-alimanha"target="_blank">GitHub</a>
        <p class="desarrolloseis">Full Stack</p>
        </div>

         <div class="siete">
        <img class="imgsiete"  src="brayan narvaez.jpg" alt="brayan">
        <p class="compañerosiete">Brayan Narvaez </p>
        <a class="Linkperfilsiete" href="https://github.com/BNarvaez"target="_blank">GitHub</a>
        <p class="desarrollosiete">Full Stack</p>
        </div>

        <div class="ocho">
        <img class="imgocho" src="alvaro baHORS.png" alt="alvaro">
        <p class="compañeroocho">Alvaro Bahos</p>
        <a class="Linkperfilocho" href="https://github.com/alvarobahos"target="_blank">GitHub</a>
        <p class="desarrolloocho">Full Stack</p>
        </div>

        <div class="nueve">
        <img class="imgnueve" src="daniel cruz.png" alt="daniel">
        <p class="compañeronueve">Daniel Cruz</p>
        <a class="Linkperfilnueve" href="https://github.com/DANY10cruz"target="_blank">GitHub</a>
        <p class="desarrollonueve">Full Stack</p>
        </div>

        <div class="diez">
        <img class="imgdiez" src="nicolas.jpg" alt="nicolas">
        <p class="compañerodiez">Nicolas Montiel</p>
        <a class="Linkperfildiez" href="https://github.com/nicolasmontielX"target="_blank">GitHub</a>
        <p class="desarrollodiez">Full Stack</p>
        </div>

        <div class="once">
        <img class="imgonce"  src="javier profe.png" alt="profe">
        <p class="compañeroonce" >Javier Andrés</p>
        <a class="Linkperfilonce" href="https://github.com/javierandres-dev"target="_blank">GitHub</a>
        <p class="desarrolloonce">Full Stack</p>
        </div>

        <div class="doce">
        <img class="imgdoce"  src="bit.webp" alt="profe">
        <p class="compañerodoce" >Repositorio de Apoyo</p>
        <a class="Linkperfildoce" href="https://github.com/javierandres-dev/bit-g09"target="_blank">GitHub</a>
        <p class="desarrollodoce">BIT Full Stack</p>
        </div>
      </section>

