<p class="titulonuestros">Nuestros desarrolladores</p>
<p class="subtitulonuestros">
  Un grupo de creativos, desarrolladores y estrategas <br />apasionados,
  trabajando en conjunto para llevar tu negocio <br />
  al siguiente nivel con innovación y dedicación.
</p>
<br />
<section class="container">
  <div class="row row-cols-1 row-cols-md-4 g-5 p-5 text-center">
    @for (equi of equipo; track $index) {
    <div class="col">
      <div class="card">
        <img class="img" src="{{ equi.img }}" alt="{{ equi.name }}" />
        <div class="card-body">
          <h5 class="name card-title">{{ equi.name }}</h5>
        </div>
        <a
          href="{{ equi.enlace }}"
          target="_blank"
          rel="noopener noreferrer"
          class="link"
          >GitHub</a
        >
      </div>
    </div>
    }
  </div>
</section>
