<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gabarito&display=swap"
  rel="stylesheet"
/>

<section>
  <img class="img-portada" src="portadat.jpg" alt="portada" />
  <p class="titulo-portada">Desarrolladores Web</p>
  <p class="texto-portada">
    Descubre a los pioneros y líderes <br />de la programación web moderna.
  </p>
</section>

<section>
  <p class="titulo-1contenido">
    Descubre a los desarrolladores más influyentes <br />que están cambiando el
    juego del desarrollo web.
  </p>
  <div class="parrafo-1contenido">
    <p>
      los desarrolladores web más influyentes en la comunidad global. Estos
      profesionales han dejado una huella importante tanto en la industria del
      desarrollo como en la comunidad open source. Algunos son conocidos por sus
      contribuciones a tecnologías clave, creación de herramientas, o su
      influencia en la educación y difusión de buenas prácticas en programación.
    </p>
  </div>
</section>

<section class="cajas">
  <div class="uno">
    <p class="compañerouno">Evan You</p>

    <p class="desarrollouno">
      Evan es el creador de Vue.js, un framework progresivo de JavaScript que ha
      ganado una inmensa popularidad debido a su simplicidad y flexibilidad. Ha
      cambiado la forma en que muchos desarrolladores abordan el desarrollo
      frontend.
    </p>
    <a class="Linkperfiluno" href="https://github.com/yyx990803" target="_blank"
      >Vue.js</a
    >
  </div>

  <div class="dos">
    <p class="compañerodos">Dan Abramov</p>
    <p class="desarrollodos">
      Dan es co-creador de Redux (una librería para manejar el estado en
      aplicaciones JavaScript) y uno de los miembros clave en el equipo de React
      en Facebook. React es uno de los frameworks más utilizados en desarrollo
      frontend hoy en día
    </p>
    <a class="Linkperfildos" href="https://overreacted.io/" target="_blank"
      >Redux, React</a
    >
  </div>

  <div class="tres">
    <p class="compañerotres">Addy Osmani</p>
    <p class="desarrollotres">
      Addy es un defensor del rendimiento web y autor de varios libros sobre
      optimización y mejores prácticas de desarrollo. Sus contribuciones
      incluyen herramientas como Yeoman y su trabajo con Google Chrome sobre
      mejoras de rendimiento.
    </p>
    <a class="Linkperfiltres" href="https://addyosmani.com/" target="_blank"
      >GitHub</a
    >
  </div>
  <div class="cuatro">
    <p class="compañerocuatro">Sarah Drasner</p>
    <p class="desarrollocuatro">
      Sarah es una experta en animaciones web y una de las principales
      contribuyentes al ecosistema de Vue.js. También es defensora del uso de
      animaciones interactivas en aplicaciones web modernas y educadora en el
      campo de la tecnología web.
    </p>
    <a class="Linkperfilcuatro" href="https://sarah.dev/" target="_blank"
      >GitHub</a
    >
  </div>

  <div class="sinco">
    <p class="compañerosinco">Kent C. Dodds</p>
    <p class="desarrollosinco">
      Kent es un educador influyente, conocido por sus cursos y su trabajo en
      Testing JavaScript. Sus recursos han sido clave para mejorar las
      habilidades de desarrollo de JavaScript y pruebas de software en la
      comunidad.
    </p>
    <a class="Linkperfilsinco" href="https://kentcdodds.com/" target="_blank"
      >GitHub</a
    >
  </div>

  <div class="seis">
    <p class="compañeroseis">Chris Coyier</p>
    <p class="desarrolloseis">
      Chris es el creador de CSS-Tricks, uno de los recursos más populares para
      aprender sobre CSS, HTML, JavaScript y todo lo relacionado con el
      desarrollo frontend. Su trabajo ha influenciado a miles de desarrolladores
      en su proceso de aprendizaje.
    </p>
    <a class="Linkperfilseis" href="https://chriscoyier.net/" target="_blank"
      >GitHub</a
    >
  </div>
  <div class="siete">
    <p class="compañerosiete">Mosh Hamedani</p>
    <p class="desarrollosiete">
      Mosh es conocido por sus tutoriales accesibles y profundos sobre
      JavaScript, React, Node.js y otras tecnologías. Sus cursos en línea han
      ayudado a miles de nuevos desarrolladores a aprender y a avanzar en sus
      carreras.
    </p>
    <a class="Linkperfilsiete" href="https://codewithmosh.com/" target="_blank"
      >Educación desarrollo web</a
    >
  </div>

  <div class="ocho">
    <p class="compañeroocho">Brad Frost</p>
    <p class="desarrolloocho">
      Brad es el creador del enfoque de Atomic Design, una metodología que ha
      cambiado la forma en que diseñadores y desarrolladores piensan sobre la
      creación de sistemas de diseño modulares y reutilizables en aplicaciones
      web.
    </p>
    <a
      class="Linkperfilocho"
      href="https://github.com/alvarobahos"
      target="_blank"
      >Atomic Design 
      
      </a
    >
  </div>

  <div class="nueve">
    <p class="compañeronueve">Linus Torvalds</p>
    <p class="desarrollonueve">
      Aunque Linus no es un "desarrollador web" en el sentido estricto, su
      creación del sistema operativo Linux y la herramienta Git ha tenido un
      impacto profundo en la industria del software, incluyendo el desarrollo
      web.
    </p>
    <a
      class="Linkperfilnueve"
      href="https://github.com/DANY10cruz"
      target="_blank"
      >Linux, Git</a
    >
  </div>
</section>
